/* src/theme/DocItem/styles.module.css */
.badge {
    background: var(--badge-background-color);
    color: var(--badge-color);

    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
}

.badgeContainer {
    position: absolute;
    right: 1rem;
    top: 1rem;
}