.keyFeatures {
    padding: 2rem 0;
}

.stats {
    padding: 2rem 0;
    background-color: var(--ifm-color-secondary-lightest);
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.ratingStars {
    font-size: 2rem;
    color: gold;
    line-height: 1;
}

.statsImage {
    max-width: 100%;
    height: auto;
}