.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

.featureItem {
  border: 1px solid rgba(255, 255, 255, 0.1);

  border-radius: 1.5rem;
}

.homepageRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}